<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.leovp.demo">

    <uses-feature android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- Request legacy Bluetooth permissions on older devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <!--
         Needed only if your app looks for Bluetooth devices.
         If your app doesn't use Bluetooth scan results to derive physical
         location information, you can strongly assert that your app
         doesn't derive physical location.
    -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" /> <!-- Needed only if your app makes the device discoverable to Bluetooth devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" /> <!-- Needed only if your app communicates with already-paired Bluetooth devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" /> <!-- Needed only if your app uses Bluetooth scan results to derive physical location. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- For get nearby devices, need location permission when above android M -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <permission android:name="remote.service.permission"
        android:protectionLevel="signature" />

    <application android:name=".CustomApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n">
        <activity android:name=".jetpack_components.examples.camerax.CameraXDemoActivity"
            android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize"
            android:exported="false"
            android:resizeableActivity="true"
            android:rotationAnimation="seamless"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            tools:ignore="LockedOrientationActivity"
            tools:targetApi="O">
            <!-- Declare notch support -->
            <meta-data android:name="android.notch_support"
                android:value="true" />
        </activity>
        <activity android:name=".jetpack_components.examples.navigation.NavigationMainActivity"
            android:exported="false" />
        <activity android:name=".basic_components.examples.opengl.OpenGLESPlaygroundActivity"
            android:exported="false" />
        <activity android:name=".basic_components.examples.opengl.OpenGLES20Activity"
            android:exported="false" />
        <activity android:name=".basic_components.examples.adb.AdbCommunication"
            android:exported="false" />
        <activity android:name=".basic_components.examples.ffmpeg.FFMpegH265Activity"
            android:exported="false" />
        <activity android:name=".basic_components.examples.ffmpeg.FFMpegH264Activity"
            android:exported="false" />
        <activity android:name=".basic_components.examples.koin.KoinActivity"
            android:exported="false" />
        <activity android:name=".basic_components.examples.OrientationActivity"
            android:exported="true" />
        <activity android:name=".basic_components.AppSettingsActivity"
            android:exported="true" />
        <activity android:name=".basic_components.examples.CircleProgressbarActivity" />
        <activity android:name=".basic_components.examples.FloatViewActivity" />
        <activity android:name=".basic_components.examples.socket.eventbus_bridge.EventBusBridgeClientActivity" />
        <activity android:name=".basic_components.examples.ToastActivity" />
        <activity android:name=".basic_components.examples.ChangeAppLanguageActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".basic_components.examples.audio.ADPCMActivity" />
        <activity android:name=".basic_components.examples.animation.PropertyAnimActivity" />
        <activity android:name=".basic_components.examples.animation.ViewAnimActivity" />
        <activity android:name=".basic_components.examples.animation.DrawableAnimActivity" />
        <activity android:name=".basic_components.examples.animation.AnimationActivity" />
        <activity android:name=".basic_components.examples.provider.ProviderActivity" />
        <activity android:name=".basic_components.examples.aidl.AidlActivity" />
        <activity android:name=".basic_components.examples.accessibility.AccessibilityActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".basic_components.examples.wifi.WifiActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".basic_components.examples.bluetooth.BluetoothClientActivity" />
        <activity android:name=".basic_components.examples.bluetooth.BluetoothServerActivity" />
        <activity android:name=".basic_components.examples.bluetooth.BluetoothScanActivity" />
        <activity android:name=".basic_components.examples.bluetooth.BluetoothActivity" />
        <activity android:name=".basic_components.examples.JavaMailActivity" />
        <activity android:name=".basic_components.examples.cipher.AudioCipherActivity" />
        <activity android:name=".basic_components.examples.pref.PrefActivity" />
        <activity android:name=".basic_components.examples.WatermarkActivity" />
        <activity android:name=".basic_components.examples.FingerPaintActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".basic_components.examples.camera2.Camera2WithoutPreviewActivity" />
        <activity android:name=".jetpack_components.examples.room.NewWordActivity" />
        <activity android:name=".jetpack_components.examples.recyclerview.RecyclerviewActivity" />
        <activity android:name=".jetpack_components.examples.room.RoomActivity" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".basic_components.examples.KeepAliveActivity" />
        <activity android:name=".basic_components.examples.socket.websocket.WebSocketServerActivity" />
        <activity android:name=".basic_components.examples.HttpActivity" />
        <activity android:name=".basic_components.examples.media_player.PlayRawH265ByMediaCodecActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity android:name=".basic_components.examples.media_player.PlayH265VideoByMediaCodecActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity android:name=".basic_components.examples.socket.websocket.WebSocketClientActivity" />
        <activity android:name=".basic_components.examples.ClipboardActivity" />
        <activity android:name=".basic_components.examples.socket.SocketServerActivity" />
        <activity android:name=".basic_components.examples.socket.SocketClientActivity" />
        <activity android:name=".basic_components.examples.RecordSingleAppScreenActivity" />
        <activity android:name=".basic_components.examples.TakeScreenshotActivity" />
        <activity android:name=".basic_components.examples.CoroutineActivity" />
        <activity android:name=".basic_components.examples.audio.AudioActivity" />
        <activity android:name=".basic_components.examples.sharescreen.client.ScreenShareClientActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".basic_components.examples.sharescreen.master.ScreenShareMasterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".basic_components.examples.SaveInstanceStateActivity" /> <!-- android:configChanges="orientation|screenSize" -->
        <activity android:name=".basic_components.examples.camera2.Camera2LiveActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity android:name=".basic_components.examples.NetworkMonitorActivity" />
        <activity android:name=".basic_components.examples.log.LogActivity" />
        <activity android:name=".basic_components.examples.DeviceInfoActivity" />

        <service android:name=".basic_components.examples.aidl.LocalLogService"
            android:exported="true"
            android:permission="remote.service.permission">
            <intent-filter>

                <!-- The action name will be used in your AIDL client side when you bind to this service. -->
                <action android:name="service.name" />
            </intent-filter>
        </service>
        <service android:name=".basic_components.examples.sharescreen.master.MediaProjectionService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection"
            tools:targetApi="q" />
        <service android:name=".basic_components.examples.sharescreen.master.SimulatedClickService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/accessibility_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <service android:name=".basic_components.examples.ChangeAppTestService"
            android:exported="false" />

        <receiver android:name="com.leovp.androidbase.utils.system.KeepAlive$KeepAliveReceiver"
            android:enabled="true"
            android:exported="false" />

        <property android:name="android.content.MEDIA_CAPABILITIES"
            android:resource="@xml/media_capabilities" />
    </application>

</manifest>