<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ho1ho.leoandroidbaseutil">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".CustomApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.media_player.PlayRawH265ByMediaCodecActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.media_player.PlayVideoByMediaCodecActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".ui.socket.WebSocketActivity" />
        <activity android:name=".ui.ClipboardActivity" />
        <activity android:name=".ui.socket.SocketActivity" />
        <activity android:name=".ui.RecordSingleAppScreenActivity" />
        <activity android:name=".ui.TakeScreenshotActivity" />
        <activity android:name=".ui.CoroutineActivity" />
        <activity android:name=".ui.AudioActivity" />
        <activity android:name=".ui.sharescreen.client.ScreenShareClientActivity" />
        <activity android:name=".ui.sharescreen.master.ScreenShareMasterActivity" />
        <activity android:name=".ui.SaveInstanceStateActivity" /> <!-- android:configChanges="orientation|screenSize" -->
        <activity
            android:name=".ui.camera2.Camera2LiveActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".ui.NetworkMonitorActivity" />
        <activity android:name=".ui.LogActivity" />
        <activity android:name=".ui.DeviceInfoActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ui.sharescreen.master.MediaProjectionService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection"
            tools:targetApi="q" />
    </application>

</manifest>