<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc" android:required="false" />

<!--    <activity android:name=".MainActivity">-->
<!--        <intent-filter>-->
<!--            <action android:name="android.nfc.action.TAG_DISCOVERED" />-->
<!--            <category android:name="android.intent.category.DEFAULT" />-->
<!--        </intent-filter>-->

<!--        <meta-data-->
<!--            android:name="android.nfc.action.TAG_DISCOVERED"-->
<!--            android:resource="@xml/nfc_tech_filter" />-->
<!--    </activity>-->
</manifest>
