<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="
        androidx.activity,
        androidx.activity.compose,
        androidx.activity.ktx,
        androidx.camera.camera2,
        androidx.camera.core,
        androidx.camera.extensions,
        androidx.camera.featurecombinationquery,
        androidx.camera.lifecycle,
        androidx.camera.video,
        androidx.camera.view,
        androidx.compose.animation,
        androidx.compose.animation.core,
        androidx.compose.foundation,
        androidx.compose.foundation.layout,
        androidx.compose.material,
        androidx.compose.material.ripple,
        androidx.compose.runtime,
        androidx.compose.runtime.annotation,
        androidx.compose.runtime.livedata,
        androidx.compose.runtime.retain,
        androidx.compose.runtime.saveable,
        androidx.compose.ui,
        androidx.compose.ui.geometry,
        androidx.compose.ui.graphics,
        androidx.compose.ui.test.manifest,
        androidx.compose.ui.text,
        androidx.compose.ui.tooling,
        androidx.compose.ui.tooling.data,
        androidx.compose.ui.tooling.preview,
        androidx.compose.ui.unit,
        androidx.compose.ui.util,
        androidx.lifecycle.ktx,
        androidx.lifecycle.lifecycle.runtime.anchor,
        androidx.lifecycle.lifecycle.viewmodel.anchor,
        androidx.lifecycle.livedata,
        androidx.lifecycle.livedata.core,
        androidx.lifecycle.livedata.core.ktx,
        androidx.lifecycle.livedata.ktx,
        androidx.lifecycle.process,
        androidx.lifecycle.runtime,
        androidx.lifecycle.runtime.compose,
        androidx.lifecycle.service,
        androidx.lifecycle.viewmodel,
        androidx.lifecycle.viewmodel.compose,
        androidx.lifecycle.viewmodel.ktx,
        androidx.lifecycle.viewmodel.savedstate,
        androidx.navigationevent,
        androidx.navigationevent.compose,
        androidx.room,
        androidx.room.ktx,
        androidx.savedstate,
        androidx.savedstate.compose,
        androidx.savedstate.ktx,
        androidx.sqlite.db,
        androidx.sqlite.db.framework,
        androidx.window,
        androidx.window.core,
        com.tencent.mmkv" />

    <!-- The same permission which you've declared in AIDL server side. -->
    <uses-permission android:name="remote.service.permission" />

    <application android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LeoAndroidBaseUtil"
        tools:ignore="AllowBackup">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
